
<form method="get" action="https://www.argon40.com/catalogsearch/result/" id="search_mini_form">
  <div class="form-search">
      <div class="search-box">
          <input class="input-text" placeholder="Search entire store here..." maxlength="128" autocomplete="off" type="text">
      </div>
      <div class="action">
          <button class="button" title="Search" type="submit">
            <span aria-hidden="true" class="icon-search"></span>
          </button>
      </div>
  </div>
</form>