<div class="grid-x" style="padding: 3% 3%; background-color:#f4f4f4">
    <span class="large-3">
        <ul>
            <li>Company</li>
            <li>About Us</li>
        </ul>
    </span>
    <span class="large-3">
        <ul>
            <li>Customer Service</li>
            <li>Orders & Returns</li>
            <li>International Shipping</li>
            <li>Contact Us</li>
        </ul>
    </span>

    <span class="large-3">
        <ul>
            <li>Your Orders</li>
            <li>Your Wishlist</li>
            <li>Payment Methods</li>
        </ul>
    </span>

    <span class="large-3">
        <ul>
            <li>Contact Us</li>
            <li>cs@argon40.com</li>
        </ul>
    </span>
</div>