<div class="grid-x" style="background-color:#ffffff">
    <div class="small-12 medium-6 cell">
        <a href="#">
            <img src="assets/004-note.svg" width="50px" height="50px">
        </a>
	</div>
    <div class="small-12 medium-6 cell" >
        <a style="float: right" href="https://plus.google.com/u/0/109049861028636805386" target="_blank" title="Connect with Us on Google+">
            <img src="assets/001-social-media-1.svg" width="50px" height="50px">
        </a>
        <a style="float: right" href="https://www.youtube.com/channel/UC6XOOgemzBhYpS0v1RgH6vw" target="_blank" title="Connect with Us on YouTube">
            <img src="assets/002-interface.svg" width="50px" height="50px">
        </a>
        <a style="float: right" href="https://web.facebook.com/argon40gadgets/" target="_blank" title="Connect with Us on Facebook">
            <img src="assets/003-social-media.svg" width="50px" height="50px">
        </a>
    </div>
</div>