
<div class="top-bar-left">
    <ul class="menu dropdown" data-dropdown-menu>
        <li>
            <a href="#">
                home
            </a>
        </li>
        <li>
            <a href="#">
                raspberry pi
            </a>
            <ul class="menu vertical">
                <li>
                    <a href="#">
                        One
                    </a>
                </li>
                <li>
                    <a href="#">
                        Two
                    </a>
                </li>
                <li>
                    <a href="#">
                        Three
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                kits and bundles
            </a>
        </li>
        <li>
            <a href="#">
                accessories
            </a>
        </li>
        <li>
            <a href="#">
                rasptendo
            </a>
        </li>
        <li>
            <a href="#">
                learn
            </a>
        </li>
        <li>
            <a href="#">
                blog
            </a>
        </li>
    </ul> 
</div>
